body, html {
    margin: 0;
    height:100%;
}

.embed-responsive
{
    height:100%;
}

.embed-responsive-item {
    -ms-transform:scale(0.90);
    -moz-transform:scale(0.90);
    -o-transform: scale(0.90);
    -webkit-transform: scale(0.90);
    transform:scale(0.90);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
